.boxDepartment {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: calc(100vw - 25vw);
}

.loadmore {
    width: auto !important;
    background-color: black;
}

.close {
        width: auto !important;
        background-color: #ef2727;
}

.submit {
    width: auto !important;
    background-color: rgb(46, 46, 88);
}

input, select {
    width: 100%;
    border: 0;
    border-radius: 4px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    outline: none;
}

.masterTableEmp td {
    text-align: left;
}

.empContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
}
